<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<div th:switch="${authenticated}">
    <div th:case="true">
        <form method="POST" th:action="@{/logout}" role="form">
            <input type="submit" value="Sign out" />
        </form>
    </div>
    <div th:case="false">
        <form method="POST" th:action="@{/login}" role="form">
            <div>
                <input type="email" id="username" name="username" placeholder="email@example.com" required="required" />
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="password" required="required" />
            </div>
            <input type="submit" value="Sign in" />
        </form>
    </div>
</div>
</body>
</html>